.todo {
	padding-right: 50px;
}

.edit-delete-wrapper {
	display: flex;
}

.edit-delete-wrapper div {
	cursor: pointer;
	height: 30px;
}

.button-wrapper {
	display: flex;
	justify-content: center;
	padding: 25px 0;
}

.subtitle {
	text-align: center;
}
